%h1 Edit user
=form_for @user do |f|
  .col-md-2
    First name
    %br
    = f.text_field :name
    .error_box_first_name
  .col-md-2
    E-mail
    %br
    = f.text_field :email
    .error_box_email
  .col-md-2
    Avatar
    %br
    = f.file_field :avatar
  .col-md-2
    Password
    %br
    = f.text_field :password
  .col-md-12
    %p
      %input{:id => "regis",:name => "send", :type => "submit", :value => "Edit", :class => "btn btn-success"}
