%h1 User registration
=form_for @user do |f|
  .col-md-2
    First name
    %br
    = f.text_field :name, :value => ""
    .error_box_first_name
  .col-md-2
    E-mail
    %br
    = f.text_field :email, :value => ""
    .error_box_email
  .col-md-2
    Avatar
    %br
    = f.file_field :avatar
  .col-md-2
    Password
    %br
    = f.text_field :password, :value => ""
  .col-md-12
    %p
      %input{:id => "regis",:name => "send", :type => "submit", :value => "Registration", :class => "btn btn-success"}
