%h1{:align => "center"} Posts
.row
  .col-md-3
  .col-md-6{:align => "center"}
    %form{:action => "posts/new"}
      %input{:name => "send", :type => "submit", :value => "New post", :class => "btn btn-success"}
  .col-md-3
.row
  .col-md-3
  .col-md-6{:align => "center"}
    %table{:border => "1", :cellpadding => "5", :cellspacing => "5",:width => "100%"}
      -@posts.each do |i|
        %tr{:data_posts_id => i.id}
          -if @users.where(id: i.user_id).first.id == i.user_id
            %td{:width => "64"}
              -if @users.where(id: i.user_id).first.avatar != ""
                =image_tag("/uploads/" + @users.where(id: i.user_id).first.avatar, :width => "64", :height => "64")
              -else
                =image_tag("/no_avatar.jpg", :width => "64", :height => "64")
              %p
                =@users.where(id: i.user_id).first.name
          -else
            %td{:width => "64"}
              =image_tag("/no_avatar.jpg", :width => "64", :height => "64")
          %td.post_title{:align => "center"}
            = link_to i.title, post_path(i)
          -if $user_login != nil
            -if i.user_id == $user_login.id
              %td{:align => "center"}
                = link_to "Edit", edit_post_path(i)
              %td{:align => "center"}
                %span.deleteAction Delete
  .col-md-3



